@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}
html {
  overflow-x: hidden;
}

body {
  font-family: "Libre Baskerville", serif;
  margin: 0;
  overflow-x: hidden;
}
@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

@layer components {
  .search-bar {
    @apply w-0 group-hover:w-[150px] transition-all duration-300 rounded-full group-hover:border group-hover:border-black px-3 py-1 focus:outline-none bg-transparent;
  }
}
